<h1>Nirvana Account</h1>

<h2>Transaction history</h2>

<table>
  <tr>
    <th class="column--title column">Date</th>
    <th class="column--title column">Details</th>
    <th class="column--title column">Amount</th>
  </tr>

  {{#each transactions}}
  <tr>
    <td class="column">{{tran_date}}</td>
    <td class="column">{{acc_id_from}}>{{acc_id_to}}</td>
    <td class="column">£{{amount}}</td>
  </tr>
  {{/each}}

</table>

<a class="link" href="/">Home</a>
