<h1>Summary of Accounts</h1>
<h2>Account Name</h2>
<h2>Balance</h2>

<ul>
  {{#each accounts}}
  <li>{{this.acc_name}} {{this.balance}}</li>
  {{/each}}
</ul>


<a href="/payments">Make a Payment</a>
