<h1>Summary of Accounts</h1>
<table class="table">
  <tr>
    <th class="column column--title">Account</th>
    <th class="column column--title">Balance</th>
  </tr>
  {{#each accounts}}
  <tr>
    <a href='/nirvana'>
      <td class="column">{{acc_name}}</td>
    </a>
    <td class="column">£{{balance}}</td>
  </tr>
  {{/each}}
</table>

<a class="link" href="/nirvana">Nirvana Account History</a>
<a class="link" href="/payments">Make a Payment</a>
