<h1>Summary of Accounts</h1>
<h3 class="accounts">Account Name</h3>
<h3 class="balance">Balance</h3>

<div class="accounts__names">
<ul class="list">
  {{#each accounts}}
  <li>{{this.acc_name}}</li>
  {{/each}}
</ul>
</div>

<div class="balance__results">
<ul class="list">
  {{#each accounts}}
  <li>£{{this.balance}}</li>
  {{/each}}
</ul>
</div>

<a class="link" href="/payments">Make a Payment</a>
