<h1>Make a Payment</h1>

<form action="/new-payment" method="POST">
  <fieldset>
    <label for="account_from">From:</label>
    <!-- if error display error -->
    <select name="account_from" required>
      <option value="1">Nirvana</option>
      <option value="2">Queen</option>
      <option value="3">Abba</option>
    </select><br>
    <label for="account_to">Transfer to:</label>
    <select name="account_to" required>
      <option value="1">Nirvana</option>
      <option value="2">Queen</option>
      <option value="3">Abba</option>
    </select><br>
    <label for="amount">Amount:   £</label>
  <input name="amount" type="text" maxlength="15" required></input><br>
  </fieldset>
  <input type="submit" value="Make Payment">
</form>

<p class="error">{{error}}</p>

<a class="link" href="/">Home</a>
