body {
  font-family: 'Roboto', arial;
}

.table {
  margin: auto;
}

.column--title {
  font-weight: 900;
}

.column {
  padding: 0.3em 0.4em;
}

.link {
  display: block;
  text-align: center;
  padding: 1em 0;
}
